<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Casting" data-toc-modified-id="Casting-0.1"><span class="toc-item-num">0.1&nbsp;&nbsp;</span>Casting</a></span></li><li><span><a href="#Many-values-to-multiple-variables" data-toc-modified-id="Many-values-to-multiple-variables-0.2"><span class="toc-item-num">0.2&nbsp;&nbsp;</span>Many values to multiple variables</a></span></li><li><span><a href="#One-value-to-multiple-variables" data-toc-modified-id="One-value-to-multiple-variables-0.3"><span class="toc-item-num">0.3&nbsp;&nbsp;</span>One value to multiple variables</a></span></li><li><span><a href="#Unpack-a-collection" data-toc-modified-id="Unpack-a-collection-0.4"><span class="toc-item-num">0.4&nbsp;&nbsp;</span>Unpack a collection</a></span></li><li><span><a href="#Unpack-a-tuple" data-toc-modified-id="Unpack-a-tuple-0.5"><span class="toc-item-num">0.5&nbsp;&nbsp;</span>Unpack a tuple</a></span></li><li><span><a href="#Output-variables" data-toc-modified-id="Output-variables-0.6"><span class="toc-item-num">0.6&nbsp;&nbsp;</span>Output variables</a></span></li><li><span><a href="#Global-variables" data-toc-modified-id="Global-variables-0.7"><span class="toc-item-num">0.7&nbsp;&nbsp;</span>Global variables</a></span></li><li><span><a href="#Assign-Global-Keyword-inside-of-a-function" data-toc-modified-id="Assign-Global-Keyword-inside-of-a-function-0.8"><span class="toc-item-num">0.8&nbsp;&nbsp;</span>Assign Global Keyword inside of a function</a></span></li><li><span><a href="#Python-Data-Types" data-toc-modified-id="Python-Data-Types-0.9"><span class="toc-item-num">0.9&nbsp;&nbsp;</span>Python Data Types</a></span></li><li><span><a href="#Python-numbers" data-toc-modified-id="Python-numbers-0.10"><span class="toc-item-num">0.10&nbsp;&nbsp;</span>Python numbers</a></span></li><li><span><a href="#Casting" data-toc-modified-id="Casting-0.11"><span class="toc-item-num">0.11&nbsp;&nbsp;</span>Casting</a></span><ul class="toc-item"><li><span><a href="#Integers" data-toc-modified-id="Integers-0.11.1"><span class="toc-item-num">0.11.1&nbsp;&nbsp;</span>Integers</a></span></li><li><span><a href="#Floats" data-toc-modified-id="Floats-0.11.2"><span class="toc-item-num">0.11.2&nbsp;&nbsp;</span>Floats</a></span></li><li><span><a href="#Strings" data-toc-modified-id="Strings-0.11.3"><span class="toc-item-num">0.11.3&nbsp;&nbsp;</span>Strings</a></span></li></ul></li><li><span><a href="#Strings" data-toc-modified-id="Strings-0.12"><span class="toc-item-num">0.12&nbsp;&nbsp;</span>Strings</a></span></li><li><span><a href="#Strings-are-arrays" data-toc-modified-id="Strings-are-arrays-0.13"><span class="toc-item-num">0.13&nbsp;&nbsp;</span>Strings are arrays</a></span></li><li><span><a href="#Check-string" data-toc-modified-id="Check-string-0.14"><span class="toc-item-num">0.14&nbsp;&nbsp;</span>Check string</a></span></li><li><span><a href="#Slicing-strings" data-toc-modified-id="Slicing-strings-0.15"><span class="toc-item-num">0.15&nbsp;&nbsp;</span>Slicing strings</a></span><ul class="toc-item"><li><span><a href="#Slice-by-index" data-toc-modified-id="Slice-by-index-0.15.1"><span class="toc-item-num">0.15.1&nbsp;&nbsp;</span>Slice by index</a></span></li><li><span><a href="#Slice-from-the-start" data-toc-modified-id="Slice-from-the-start-0.15.2"><span class="toc-item-num">0.15.2&nbsp;&nbsp;</span>Slice from the start</a></span></li><li><span><a href="#Slice-to-the-end" data-toc-modified-id="Slice-to-the-end-0.15.3"><span class="toc-item-num">0.15.3&nbsp;&nbsp;</span>Slice to the end</a></span></li></ul></li></ul></li><li><span><a href="#Pandas" data-toc-modified-id="Pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Pandas</a></span><ul class="toc-item"><li><span><a href="#Series" data-toc-modified-id="Series-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Series</a></span></li><li><span><a href="#Labels" data-toc-modified-id="Labels-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Labels</a></span></li><li><span><a href="#Key/value-pairs" data-toc-modified-id="Key/value-pairs-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Key/value pairs</a></span></li><li><span><a href="#DataFrame-from-two-series-in-dictionary-format" data-toc-modified-id="DataFrame-from-two-series-in-dictionary-format-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>DataFrame from two series in dictionary format</a></span></li></ul></li></ul></div>

### Casting
Setting the data type to a variable

In [1]:
x = str(3)
y = int(3)
z = float(3)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

3
3
3.0
<class 'str'>
<class 'int'>
<class 'float'>

### Many values to multiple variables

In [3]:
x, y, z = "Orange", "Banana", "Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

### One value to multiple variables

In [4]:
x = y = z = "Orange"

print(x)
print(y)
print(z)

Orange
Orange
Orange

### Unpack a collection

In [5]:
fruits = ["apple", "banana", "cherry"]

x, y, z = fruits

print(x)
print(y)
print(z)

apple
banana
cherry

### Unpack a tuple

In [6]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

### Output variables

In [11]:
x = "Hey Jess, you wicked fly girrrl! Salute."
print("She said: " + x)

She said: Hey Jess, you wicked fly girrrl! Salute.

In [13]:
x = "Jessica is "
y = "super awesome."

z =  x + y

print(z)

Jessica is super awesome.

In [14]:
x = 5

y = 10

print(x + y)

15

### Global variables

In [15]:
# Variable outside of function -- global variable
x = "awesome"

def practice_func():
    print("Jessica is " + x)

practice_func()

Jessica is awesome

In [20]:
x = "awesome" # Global Variable

def myfunc():
    x = "fantastic" # Local Variable inside function
    print("### Printing from inside function: ### \n")
    print("        Python is " + x + '\n')

myfunc()

print("### Printing from outside function: ###\n")
print("        Python is " + x)

### Printing from inside function: ###

        Python is fantastic

### Printing from outside function: ###

        Python is awesome

### Assign Global Keyword inside of a function

In [21]:
def myfunc():
    global x # Global Keyword
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [23]:
x = "awesome"

def myfunc():
    global x
    x = "fantastic" # Rename Global Keyword within function

myfunc()

print("Python is " + x)

Python is fantastic

### Python Data Types


- Text Type:	str
- Numeric Types:	int, float, complex
- Sequence Types:	list, tuple, range
- Mapping Type:	dict
- Set Types:	set, frozenset
- Boolean Type:	bool
- Binary Types:	bytes, bytearray, memoryview

In [32]:
# str
a = "Hello World"

# int
b = 20

# float
c = 20.5

# complex
d = 1j

# list
e = ["apple", "banana", "cherry"]

# tuple
f = ("apple", "banana", "cherry")

# range
g = range(6)

# dict
h = {"name" : "John", "age" : 36}

### set ###
# It can have any number of items  
# and they may be of different types:
# integer, float, tuple, string etc.
i = {"apple", "banana", "cherry"}


# frozenset
j = frozenset({"apple", "banana", "cherry"})

# bool
k = True

# bytes
l = b"Hello"

# bytearray
m = bytearray(5)

# memoryview
n = memoryview(bytes(5))

data_types_list = [a,b,c,d,e,f,g,h,i,j,k,l,m,n]
def print_dtype(dtype_list):
    for data_type in data_types_list:
        # Print variable
        print(data_type)
        # Print data type
        print(type(data_type))
        print("\n")
        
print_dtype(data_types_list)

Hello World
<class 'str'>


20
<class 'int'>


20.5
<class 'float'>


1j
<class 'complex'>


['apple', 'banana', 'cherry']
<class 'list'>


('apple', 'banana', 'cherry')
<class 'tuple'>


range(0, 6)
<class 'range'>


{'name': 'John', 'age': 36}
<class 'dict'>


{'apple', 'cherry', 'banana'}
<class 'set'>


frozenset({'apple', 'cherry', 'banana'})
<class 'frozenset'>


True
<class 'bool'>


b'Hello'
<class 'bytes'>


bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>


<memory at 0x7fa6c2292f48>
<class 'memoryview'>

In [34]:
# str
a = str("Hello World")

# int
b = int(20)

# float
c = float(20.5)

# complex
d = complex(1j)

# list
e = list(("apple", "banana", "cherry"))

# tuple
f = tuple(("apple", "banana", "cherry"))

# range
g = range(6)

# dict
h = dict(name="John", age=36)

# set
i = set(("apple", "banana", "cherry"))

# frozenset
j = frozenset(("apple", "banana", "cherry"))

# bool
k = bool(5)

# bytes
l = bytes(5)

# bytearray
m = bytearray(5)

# memoryview
n = memoryview(bytes(5))

# Print dtypes 
print_dtype(data_types_list)

Hello World
<class 'str'>


20
<class 'int'>


20.5
<class 'float'>


1j
<class 'complex'>


['apple', 'banana', 'cherry']
<class 'list'>


('apple', 'banana', 'cherry')
<class 'tuple'>


range(0, 6)
<class 'range'>


{'name': 'John', 'age': 36}
<class 'dict'>


{'apple', 'cherry', 'banana'}
<class 'set'>


frozenset({'apple', 'cherry', 'banana'})
<class 'frozenset'>


True
<class 'bool'>


b'Hello'
<class 'bytes'>


bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>


<memory at 0x7fa6c2292f48>
<class 'memoryview'>

In [29]:
range(0,6)

range(0, 6)

In [31]:
[x for x in range(0,6)]

[0, 1, 2, 3, 4, 5]

### Python numbers

In [35]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [36]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

### Casting

#### Integers

In [45]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

i_vars = [x,y,z]
[print(i) for i in i_vars];

1
2
3

#### Floats

In [46]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

i_vars = [x,y,z,w]
[print(i) for i in i_vars];

1.0
2.8
3.0
4.2

#### Strings

In [47]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

i_vars = [x,y,z]
[print(i) for i in i_vars];

s1
2
3.0

### Strings

In [56]:
# Double quotes
a = "Hello"
print(a)

# Single quotes
a = 'Hello'
print(a)

Hello
Hello

In [57]:
# Double quotes 3 times - doc string
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

print('\n')

# Single quotes 3 times - doc string
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.


Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### Strings are arrays

Like many other popular programming languages, **strings in Python are arrays of bytes** representing unicode characters.

Square brackets can be used to access elements of the string.

In [58]:
a = "Hello, World!"
print(a[1])

e

In [59]:
[print(x) for x in "banana"];

b
a
n
a
n
a

In [60]:
a = "Hello, World!"
print(len(a))

13

### Check string

Check if "free" is present in the following text:

In [64]:
txt = "The best things in life are not free!"
print("free" in txt)

True

Print only if "free" is present:

In [70]:
txt = "The best things in life are free!"

def is_present(word, text):
    if word in text:
        print(f"Yes, {word} is present.")
    elif word not in text:
        print(f"No, {word} is not present")
        
is_present('free', txt)

Yes, free is present.

In [68]:
sentence = "I believe I can fly"

is_present('fly', sentence)

Yes, fly is present.

In [71]:
is_present('cloud', sentence)

No, cloud is not present

### Slicing strings

#### Slice by index

In [73]:
b = "Hello, World!"
print(b[1:5])

ello

#### Slice from the start

In [75]:
b = "Hello, World!"
print(b[:5])

Hello

#### Slice to the end

In [77]:
b = "Hello, World!"
print(b[1:])

ello, World!

Get the characters:
- From: "o" in "World!" (position -5)
- To, but not included: "d" in "World!" (position -2):

In [82]:
b = "Hello, World!"
print(b[-6:-1])

World

## Pandas

In [85]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

myvar

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [88]:
pd.__version__

'0.25.1'

### Series

In [90]:
a = [1, 7, 2]

myvar = pd.Series(a)

myvar

0    1
1    7
2    2
dtype: int64

### Labels

If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.

This label can be used to access a specified value.

With the index argument, you can name your own labels.

In [91]:
myvar[0]

1

In [95]:
a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"]) # Index 0-2 replaced with x-z

myvar

x    1
y    7
z    2
dtype: int64

When you have created labels, you can access an item by referring to the label.

In [96]:
myvar["y"]

7

In [97]:
myvar.y

7

### Key/value pairs 

You can also use a key/value object, like a dictionary, when creating a Series.

Key becomes index & value becomes value.

In [98]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

myvar

day1    420
day2    380
day3    390
dtype: int64

To select only some of the items in the dictionary, use the **index** argument and specify only the items you want to include in the Series.

In [99]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"]) # Index first two keys

myvar

day1    420
day2    380
dtype: int64

### DataFrame from two series in dictionary format

In [100]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

myvar

   calories  duration
0       420        50
1       380        40
2       390        45